/*
	Border box, Selection, Font
*/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	height: 100%;
	font-family: 'Roboto', sans-serif;
	background-color: #eee;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

html, body, input, textarea, button {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

/*
	Main Layout
*/
#header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 2;
	transition: left 0.2s;
}

#header > div {
	padding-right: 15px;
}

#controls {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 400px;
	left: -400px;
	overflow: auto;
	z-index: 2;
	background-color: #fff;
	transition: transform 0.2s;
}

#main {
	min-height: 100%;
	height: 100%;
	margin-left: 0px;
	transition: margin-left 0.2s;
	text-align: center;
	padding-bottom: 24px;
}

#resultPanel {
	position: fixed;
	left: 0;
	right: 0;
	transition: all 0.2s;
}

#footer {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	height: 24px;
	margin-left: 0px;
	transition: margin-left 0.2s;
	z-index: 2;
	text-align: right;
}

#zoom {
	position: fixed;
	bottom: 32px;
	right: 18px;
}

#zoomin, #zoomout {
	font-weight: 700;
}

#button-back, #button-back-step, #button-forward-step, #button-forward {
	font-family: 'Segoe UI Symbol', 'Roboto', sans-serif;
}

.overlay {
	background-color: #fff;
	margin: 75px auto;
	width: 80%;
	max-width: 640px;
	border-radius: 2px;
	padding: 15px;
	height: 80%;
	max-height: 800px;
	overflow: auto;
	border: 5px solid #fff;
}

.mui-panel {
	border-radius: 2px;
}

h2 {
	margin: 12px;
}

h4 {
	font-weight: 700;
}

@media (min-width: 768px) {
	#header {
		left: 400px;
	}

	#controls {
		transform: translate(400px);
	}

	#main {
		margin-left: 400px;
	}

	#resultPanel {
		margin-left: 400px;
	}

	#footer {
		margin-left: 400px;
	}

	body.hide-controls #header {
		left: 0;
	}

	body.hide-controls #controls {
		transform: translate(0px);
	}

	body.hide-controls #main {
		margin-left: 0;
	}

	body.hide-controls #resultPanel {
		margin-left: 0;
	}

	body.hide-controls #footer {
		margin-left: 0;
	}
}

#controls.active {
	transform: translate(400px);
}

/* header */
.controls-toggle {
	color: #fff;
	cursor: pointer;
	width: 30px;
	height: 30px;
	font-size: 20px;
	line-height: 20px;
	margin: 10px;
	transition: all 0.2s;
}

.controls-toggle:hover {
	color: rgba(255,255,255,0.75);
	text-decoration: none;
}

/* footer */
#footer {
	background-color: #455A64;
	color: #fff;
	padding-top: 2px;
}

/* Controls / Sidebar */
#controls-brand {
	padding-left: 15px;
}

#controls ul {
	list-style: none;
}

#controls > ul {
	padding-left: 0px;
}

#controls strong {
	display: block;
	padding: 10px 16px;
	cursor: pointer;
}

#controls strong:hover {
	background-color: #E0E0E0;
}

#controls strong + * {
	padding-top: 15px;
	margin-bottom: 16px;
}

/* Form */
form {
	padding: 0 16px;
	font-family: 'Roboto Mono', monospace;
}

.mui-form--inline .mui-textfield {
	width: 33.33%;
}

#query label {
	overflow: hidden;
}

#src {
	width: 100%;
	height: 360px;
	font-family: 'Roboto Mono', monospace;
	padding: 1px 0;
}

#example {
	display: inline;
	position: relative;
	float: right;
	top: -11px;
	z-index: 10;
}

#example li {
	background-color: #fff;
}

#example li > a > span {
	color: #999;
}

#example button {
	margin-bottom: 0;
}

#nextSols {
	width: 100%
}

#nextSols button {
	width: 45%
}

#nextSols :last-child {
	float: right;
}

/*##################*/
/**
	Style Visualisation
*/
ul {
	margin: 0;
}

li {
	list-style-type: none;
}

#visualisationPanel {
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
	cursor: move;
}

#visualisation {
	display: inline-block;
	position: absolute;
	top: 140px;
	left: 120px;
	transition: transform 0.2s;
	transform-origin: left top;
}

#visualisationPanel.disabled {
	cursor: default !important;
}

#visualisation.disabled ul.goal > li {
	background-color: #ccc;
	transition: background-color 0.2s;
}

#resultPanel {
	z-index: 1;
	opacity: 1;
	margin-top: 48px;
}

#resultPanel.disabled {
	color: #ccc;
	opacity: 0;
	margin-top: -10px;
}

#resultPanel span, #visualisation.hideLists span {
	display: none;
}

.goal > li {
	display: block;
	/* position: relative; */
	/* z-index: 2; */
	min-width: 50px;
	border: 1px solid #fff;
	border-radius: 2px;
	padding: 3px 10px;
	margin-left: -1px;
	margin-top: -1px;
	box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.12);
	/* background:#607D8B; */
	color: #fff;
	cursor: default;
}

.invisible {
	display: none !important;
}

/*
	Events

	Colors in visualisation
*/
.focus {
	color: #cddc39 !important;
}

/*[data-port="call"] {
	background-color:#000a12;
}*/
[data-port="unify"] {
	background-color: #455a64;
}

[data-port="exit"] {
	background-color: #263238;
}

[data-port="fail"] {
	background-color: #7f0000;
}

[data-port="depth"] {
	background-color: #d81b60;
}

.backtracking, .choice-inactive .goal > li {
	background-color: #ccc;
}

/*li[data-line="P"] {
	width: 180px;
	min-width: 100%;
	white-space: normal;
}*/
/*
	Horizontal lists (subgoals)
*/
ul.subgoals {
	display: table;
	width: 100%;
}

ul.subgoals > li {
	display: table-cell;
}

/*
	Vertical lists (choices)
*/
ul.choices {
	display: block;
	width: -moz-calc(100% - 5px);
	width: -webkit-calc(100% - 5px);
	width: -o-calc(100% - 5px);
	width: calc(100% - 5px);
	width: 100%;
	white-space: nowrap;
	margin-left: 0px;
}

ul.choices > li {
	float: none;
	width: 100%;
	vertical-align: top;
	padding-left: 10px;
}

/*
	Choice background images
*/
.choice-inactive {
	background-image: url(img/mid2.svg), url(img/base2.svg);
	background-position: 5px 8px, 0px 0;
	background-repeat: no-repeat, repeat-y;
}

.choice-active {
	background: transparent url(img/end2.svg) no-repeat;
	background-position: 0px -4px;
}

/* 
	Control: Step Forms 
*/
#steps {
	display: table;
	width: 100%;
	transition: transform 0.2s;
}

/*
	Controls
*/
#steps > div {
	width: 100%;
	display: table;
}

#steps > div > div {
	display: table-cell;
	width: 50px;
	text-align: center;
	vertical-align: middle;
}

#steps #rangeinfo {
	text-align: center;
	height: auto;
	margin: auto;
	width: auto /*transition: all 0.2s;*/ /*display: table-cell;*/
}

#rangevalue, #rangemax {
	display: inline-block;
	min-width: 38px;
}

/* overlay styling */
.overlay ul {
	list-style: none;
	margin-left: 0;
	padding-left: 14px;
	text-indent: -14px;
}

.overlay li {
	padding-top: 4px;
	padding-bottom: 4px;
}

.overlay li:before {
	content: "●";
	display: block;
	float: left;
	width: 14px;
	color: #455a64;
	line-height: 18px;
}

.overlay img {
	display: block;
	margin: 10px auto;
	border: 2px solid #fff;
	border-radius: 2px;
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.12);
}

.overlay strong[data-port] {
	color: #fff;
	display: inline-block;
	padding: 0 20px;
	width: 65px;
	border: 1px solid #fff;
	box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.12);
	border-radius: 2px;
	font-weight: 400;
}

.overlay strong.backtracking {
	color: #222
}
